@import "../../styles/global.scss";

.home-products {
  min-height: 0vh;
  width: 95%;
  margin: 5rem 2.5%;
  margin-top: 10rem;
}

.products-title {
  text-align: center;
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
  h2 {
    flex: 1 1 auto;
    font-size: 2rem;
    letter-spacing: 0.5rem;
    opacity: 0.8;
  }
  span {
    flex: 6 1 auto;
    height: 1px;
    opacity: 0.2;
    background: black;
  }
}

.card {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 3rem;
}

// REACT-EASTIC-CAROUSEL

// Arrows
.rec.rec-arrow {
  background: transparent;
  border: none;
  border-radius: 50%;
  box-shadow: none;
  font-size: 3rem;
  font-weight: 200;
}

.khvUfi.rec.rec-arrow.rec-arrow-right:hover,
.khvUfi.rec.rec-arrow.rec-arrow-left:hover {
  background: transparent;
  border: none;
  border-radius: 50%;
  box-shadow: 0rem 1rem 1rem rgba($color: #000000, $alpha: 0.2);
  color: #000000;
  font-size: 3rem;
}

.sc-bdfBQB.khvUfi.rec.rec-arrow.rec-arrow-left:focus,
.sc-bdfBQB.khvUfi.rec.rec-arrow.rec-arrow-right:focus {
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: black;
}

.sc-bdfBQB.khvUfi.rec.rec-arrow.rec-arrow-left:focus:hover,
.sc-bdfBQB.khvUfi.rec.rec-arrow.rec-arrow-right:focus:hover {
  box-shadow: 0rem 1rem 1rem rgba($color: #000000, $alpha: 0.2);
}

.rec-arrow.eRmJbc:disabled {
  cursor: context-menu;
}

//Dots
.sc-gKseQn.gQIqMI {
  box-shadow: none;
  border: 0.1px solid black;
  width: 2rem;
  height: 2rem;
}
.sc-gKseQn.gQIqMI:hover {
  cursor: pointer;
  background-color: rgba($color: #000000, $alpha: 0.2);
  box-shadow: none;
  border: 0.1px solid black;
  width: 2rem;
  height: 2rem;
}
.rec.rec-dot.sc-gKseQn.rec-dot_active {
  background-color: rgba($color: #000000, $alpha: 1);
  box-shadow: none;
  border: 0.1px solid black;
  width: 2rem;
  height: 2rem;
}
