@import "../../styles/global.scss";
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  height: 900px;
  width: 1200px;
  z-index: 1000;
  overflow-y: scroll;
  @include flex(row, center, center);
  .slider,
  .description {
    flex: 1 1 40rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .close-modal-btn {
    position: fixed;
    top: 0;
    right: 0;
    color: rgb(133, 129, 129);
    background-color: white;
    padding: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
  }
}

@media screen and (max-width: 1300px) {
  .modal {
    width: 90vw;
  }
}
