$header1: 6rem;
$header2: 3rem;
$header3: 2.5rem;
$header4: 1.5rem;
$nav-links: 1.6rem;
$text: 2.5rem;
$label: 1rem;
$small-text: 1.5rem;
$gradient: linear-gradient(left, #38d39f, #38a4d3);
$background-color: #154353;
$gray-text: #2c2c2c;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  animation: opening 1s ease-in-out;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: $header1;
}

button {
  background: #202020;
  color: white;
  border: none;
  outline: none;
  padding: 1rem 3rem;
  letter-spacing: 0.15rem;
  font-weight: 900;
  // align-self: center;
  margin: 3rem 0rem 2rem 0rem;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.fas {
  cursor: pointer;
}

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
.input-wrapper {
  @include flex(column, center, flex-start);
}

.select-wrapper {
  @include flex(column, stretch, flex-start);
}

@keyframes opening {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
