$header1: 6rem;
$header2: 3rem;
$header3: 2.5rem;
$header4: 1.5rem;
$nav-links: 1.6rem;
$text: 2.5rem;
$label: 1rem;
$small-text: 1.5rem;
$gradient: linear-gradient(left, #38d39f, #38a4d3);
$background-color: #154353;
$gray-text: #2c2c2c;

@font-face {
  font-family: "Karla-200";
  src: url("../static/fonts/karla/Karla-ExtraLight.ttf");
}

@font-face {
  font-family: "Karla-400";
  src: url("../static/fonts/karla/Karla-Regular.ttf");
}

@font-face {
  font-family: "Karla-300";
  src: url("../static/fonts/karla/Karla-Light.ttf");
}

@font-face {
  font-family: "Karla-800";
  src: url("../static/fonts/karla/Karla-Bold.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla-300", sans-serif;
}

html {
  font-size: 62.5%;
  // overflow: hidden;
  overflow-x: hidden;
}

// main {
//   z-index: -100;
// }

body {
  animation: opening 1s ease-in-out;
}

a {
  text-decoration: none;
  color: black;
}

a,
p {
  font-family: "Karla-300", sans-serif;
}
h1,
h2,
h3 {
  font-family: "Karla-400", sans-serif;
}

h1 {
  font-size: $header1;
}

.fas {
  cursor: pointer;
}

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@keyframes opening {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

nav {
  @include flex(row, space-between, center);
  width: 95%;
  margin: auto;

  li {
    list-style: none;
  }
}
