@keyframes logo-animation {
  0% {
    transform: translateX(-50%) translateY(-200%);
  }
  100% {
    transform: translateX(-50%) translateY(35%);
  }
}

.nav-links {
  min-height: 15vh;
  position: relative;
  width: 95%;
  margin: auto;
  @include flex(row, space-between, center);
  li,
  .cart {
    font-size: $nav-links;
    margin: 2rem 1rem;
    text-align: center;
    white-space: nowrap;
    list-style: none;
  }

  a:hover {
    color: #f8bb99;
  }
}
.burger,
.mobile-menu {
  display: none;
}

.logo {
  font-size: $header1;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translateX(-50%) translateY(30%);
  transform: translateX(-50%) translateY(-200%);
  a:hover {
    color: black;
  }
  animation: logo-animation 1s ease-in-out 0.5s forwards;
}
.signIn-register-search {
  flex: 0;
  @include flex(row, space-between, center);
}

.vertical-line {
  opacity: 0.3;
}

.sections {
  min-height: 5vh;
  border-top: 0.1rem solid rgba($color: #000000, $alpha: 0.1);
  border-bottom: 0.1rem solid rgba($color: #000000, $alpha: 0.1);
}

@media screen and (max-width: 1000px) {
  .logo {
    a {
      font-size: $header3;
    }
  }

  .burger {
    display: block;
    font-size: 2rem;
    font-size: $nav-links;
    z-index: 2;
  }

  .signIn-register-search {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 110vh;
    background: white;
    z-index: 1;
    @include flex(column, center, center);

    .vertical-line {
      display: none;
    }
    li {
      padding: 6rem;
      font-size: 2rem;
    }
  }

  .inactive-signIn-register-search {
    display: none;
  }
}
