.nav-links {
  min-height: 15vh;
  // background: chocolate;
  position: relative;
  width: 95%;
  margin: auto;
  @include flex(row, space-between, center);
  li {
    font-size: $nav-links;
    margin: 2rem 1rem;
    text-align: center;
    white-space: nowrap;
  }

  a:hover {
    color: #f8bb99;
  }

  ul {
    list-style: none;
  }
}

.logo-cart {
  flex: 5;
  li {
    text-align: end;
  }
  .logo {
    font-size: $header1;
    position: absolute;
    left: 50%;

    bottom: 50%;
    transform: translateX(-50%) translateY(50%);
    a:hover {
      color: black;
    }
  }
}

.signIn-register-search {
  flex: 0;
  @include flex(row, space-between, center);
}

.vertical-line {
  opacity: 0.3;
}

.sections {
  min-height: 5vh;
  border-top: 0.1rem solid rgba($color: #000000, $alpha: 0.1);
  border-bottom: 0.1rem solid rgba($color: #000000, $alpha: 0.1);
}
