.home-intro {
  min-height: 80vh;
  //   background: url("../img/home-intro_1.jpg");
  background-image: url("../img/home-intro_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
