.home-intro {
  min-height: 100vh;
  //   background: url("../img/home-intro_1.jpg");
  background-image: url("../img/home-intro_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home-description {
  min-height: 40vh;
  width: 95%;
  margin: auto;
  text-align: center;
  line-height: 3rem;
  @include flex(column, center, center);
  h2 {
    font-size: $header3;
    margin: 4rem;
  }
  p {
    font-size: $small-text;
  }
  button {
    margin: 4rem;
  }
}
