@import "global";
@import "header";
@import "home";
@import "footer";
@import "signInForm";
@import "registerForm";
@import "searchBox";

nav {
  @include flex(row, space-between, center);
  width: 95%;
  margin: auto;

  li {
    list-style: none;
  }
}
