@import "../../styles/global.scss";
@keyframes logo-animation {
  0% {
    transform: translateX(-50%) translateY(-200%);
  }
  100% {
    transform: translateX(-50%) translateY(35%);
  }
}

.nav-links {
  min-height: 15vh;
  position: relative;
  width: 95%;
  margin: auto;
  @include flex(row, space-between, center);
  li,
  .cart {
    font-size: $nav-links;
    margin: 2rem 1rem;
    text-align: center;
    white-space: nowrap;
    list-style: none;
    a {
      transition: all 0.4s ease-in-out;
      transform: scale(1);
    }
    a:hover {
      transform: scale(1.2);
      padding: 1rem;
      border-radius: 1.5rem;
      background: rgba($color: #202020, $alpha: 1);
      color: white;
      font-weight: 900;
    }
  }
}
.burger,
.mobile-menu {
  display: none;
}

.logo {
  font-size: $header1;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translateX(-50%) translateY(30%);
  transform: translateX(-50%) translateY(-200%);
  a:hover {
    color: black;
  }
  animation: logo-animation 1s ease-in-out 0.5s forwards;
}

@media screen and (max-width: 1000px) {
  .logo {
    a {
      font-size: $header3;
    }
  }

  .burger {
    display: block;
    font-size: 2rem;
    font-size: $nav-links;
    z-index: 2;
  }
}
