@import "../../styles/global.scss";
.newsletter-form {
  min-height: 10vh;
  width: 95%;
  margin: auto;
  @include flex(row, space-between, center);
  flex-wrap: wrap;
  h4 {
    font-size: $header4;
    margin-top: 2rem;
  }

  p {
    font-size: $header4;
    margin-top: 2rem;
    text-align: center;
  }

  div {
    @include flex(row, center, center);
  }
  input {
    margin: 2rem 0rem;
  }

  button {
    letter-spacing: 0.2rem;
    padding: 1rem 5rem;
    border: 0.1rem solid rgba($color: #000000, $alpha: 1);
    margin: 0;
    height: 4rem;
  }
}

@media screen and (max-width: 678px) {
  .newsletter-form {
    div {
      flex-wrap: wrap;

      input,
      button {
        flex: 1 0 20rem;
      }

      button {
        margin-bottom: 2rem;
      }
    }
  }
  .input-wrapper {
    input {
      width: 90vw;
    }
  }
}

@media screen and (max-width: 1378px) {
  .newsletter-form {
    @include flex(column, space-between, center);
  }
}
